:root {
  --background-colour: #202020;
  --section-colour: #2c2c2c;
  --subsection-colour: #383838;

  --purple-1: #4d2175;
  --purple-2: #a259cb;
  --purple-3: #c791e8;

  --orange-1: #d7812f;
  --orange-2: #d5a271;
  --text-colour: #e8e8e8;
}