<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | The Lilaraum</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    {% include navbar.liquid %}
    <div class="section">
      {{ content }}
    </div>
</body>
</html>